<%= form_tag latest_path do %>
  内容を検索: <%= text_field_tag :keyword, params[:keyword] %>
  <%= submit_tag 'search' %>
<% end %>

<p id="notice"><%= notice %></p>

件数: <%= @feeds.count %>

<p>
  <b>Url:</b>
  <%= @my_request.url %>
</p>

<p>
  <b>Created At:</b>
  <%= @my_request.created_at %>
</p>

<ul>
<% @feeds.each do |feed| %>
  <li><%= link_to(feed.title, feed.link, :target => "_blank") %></li>
<% end %>
</ul>


<%= link_to 'Edit', edit_my_request_path(@my_request) %> |
<%= link_to 'Back', my_requests_path %>
